@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body{
    margin: 0;
    padding: 0;
    background-color: #03012E;
}

/*
* {
    outline: 1px solid red;
}
*/
* {
    list-style-type: none;
}

li{
    overflow-wrap: break-word;
}

.no-scrollbar {
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

textarea{
    resize: none;
}

.gradient-text {
    /* Fallback color */
    color: #2a2c9b;

    /* Gradient background */
    background: linear-gradient(90deg,rgba(4, 0, 255, 1) 28%, rgba(255, 115, 0, 1) 69%, rgba(251, 255, 0, 1) 100%);

    /* Clip background to text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make text transparent to show gradient */
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/*<weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name

 */
.roboto-bold {
             font-family: "Roboto", sans-serif;
             font-optical-sizing: auto;
             font-weight: 700;
             font-style: normal;
             font-variation-settings:
                 "wdth" 100;
         }

